body
{
    background: url('img/background.png') !important;
}


#send-email
{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-label
{
    margin-top: 10px;
}

#body-text
{
    height: 200px;
    resize: none;
}


