<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hinodesoftworks.ongaku"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hinodesoftworks.ongaku.MediaLibraryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.hinodesoftworks.ongaku.MusicPlayerActivity"
            android:parentActivityName="com.hinodesoftworks.ongaku.MediaLibraryActivity"></activity>
        <activity android:name="com.hinodesoftworks.ongaku.HistoryActivity"
            android:parentActivityName="com.hinodesoftworks.ongaku.MediaLibraryActivity"></activity>
        <activity android:name="com.hinodesoftworks.ongaku.SettingsActivity"
            android:parentActivityName="com.hinodesoftworks.ongaku.MediaLibraryActivity"></activity>
        
        <service android:name="com.hinodesoftworks.ongaku.MusicService"></service>
        
        <receiver 
            android:name="com.hinodesoftworks.ongaku.WidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="com.hinodesoftworks.UPDATE_WIDGET" />
   			</intent-filter>
   			
   			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
        </receiver>
            
    </application>

</manifest>
